<p-accordion>
  <p-accordionTab header="Emblemas" [selected]="true">
    <div class="emblemas">
      <div class="emblema__borda" pTooltip="Gladiador!">
        <img src="../../../assets/icons/espada-com-fundo-verde-reduzida.png" class="emblema">
      </div>
      <div class="emblema__borda" pTooltip="Gladiador!">
        <img src="../../../assets/icons/espada-com-fundo-verde-reduzida.png" class="emblema">
      </div>
      <div class="emblema__borda" pTooltip="Gladiador!">
        <img src="../../../assets/icons/espada-com-fundo-verde-reduzida.png" class="emblema">
      </div>
      <div class="emblema__borda" pTooltip="Gladiador!">
        <img src="../../../assets/icons/espada-com-fundo-verde-reduzida.png" class="emblema">
      </div>
      <div class="emblema__borda" pTooltip="Gladiador!">
        <img src="../../../assets/icons/espada-com-fundo-verde-reduzida.png" class="emblema">
        <div class="emblema__em-uso">
          <span>EM USO</span>
        </div>
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
