.publicacao {
  width: 78%;
  background: white;
  height: auto;
  margin-top: 9px !important;
  padding: 0 !important;
  margin: 0 auto;
  border-radius: 8px;
  border: solid rgb(207, 207, 207) 1px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.219);
}

.publicacao__editor {
  overflow: hidden;
  position: fixed;
  top: 30%;
  right: 34%;
  left: 34%;
  min-height: 300px;
  max-height: 400px;
  width: 32%;
  z-index: 1001;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(238, 238, 238);
  border-radius: 8px;
  border: solid 1px rgb(241, 241, 241);
}

.editor__header {
  margin: 0;
  padding: 0;
  height: 60px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.ofuscar-fundo {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.342);
  height: 10000px;
  width: 10000px;
}

.editor__header__titulo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 60px;
  padding-top: 15px;
  text-align: center !important;
  color: #616161;
}

.editor__botao__fechar {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  size: 40px;
  font-size: 32px;
  color: rgb(161, 161, 161);
}

.editor__botao__fechar:hover {
  color: rgb(114, 114, 114);
}

.editor__conteudo {
  white-space: pre-line;
  word-wrap: break-word;
  border-bottom: 1px solid rgb(236, 236, 236);
  min-height: 185px;
  max-height: 200px;
}

.editor__username {
  margin-left: 25px;
  margin-top: 10px;
  float: left;
  font-weight: bold;
  color: #585858;
}

.editor__texto {
  resize: none;
  border: none;
  margin-top: 0px;
  font-size: 20px;
  color: #7e7e7e;
  overflow: hidden;
  width: 100%;
  max-height: 100px;
}

.editor__texto:focus {
  border: none;
  box-shadow: none;
}

.editor__rodape {

}

.editor__rodape__botao {
  width: 100%;
  background-color: #0EAFB5;
  border: 1px solid #0ba3a8;
}

.editor__rodape__botao:hover {
  background-color: #09a6ac;
  background-color: #059ca1;
}

.editor__avatar {
  margin-top: 5px;
  margin-left: 5px;
  height: 50px;
  border-radius: 100%;
}

.publicacao__header {
  float: left;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 15px;
}

.publicacao__avatar {
  width: 40px;
  border-radius: 100%;
  float: left;
}

.publicacao__username {
  float: left;
  margin-left: 8px;
  margin-top: 2px;
  color: rgb(88, 88, 88);
  width: 80%;
  font-weight: bold;
}

.publicacao__data {
  float: left;
  margin-left: 9px;
  margin-top: 2px;
  width: 120px;
  color: rgb(148, 148, 148);
  font-size: 12px;
}

.publicacao__box {
  margin-top: 70px !important;
  color: rgb(104, 104, 104);
  padding-left: 0px;
  padding-bottom: 10px !important;
  width: 500px;
  margin: 0 auto;
  height: auto;
  white-space: pre-line;
  word-wrap: break-word;
}

.publicacao__rodape {
}

.publicacao__interacoes {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-left: 25px;
}

.publicacao__ameis-contagem {
  display: inline-block
}

.publicacao__ameis-icone {
  display: inline-block;
  font-size: 20px;
  color: rgb(117, 117, 117);
}

.publicacao__opcoes {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.publicacao__opcoes:hover {
  background-color: #f7f7f7;
}

.publicacao__opcoes i {
  padding-left: 7px;
  padding-top: 7px;
}

.publicacao__comentarios-contagem {
  display: inline-block
}

.publicacao__comentarios-icone {
  font-size: 20px;
  color: rgb(117, 117, 117);
}

.publicacao__comentarios-opcoes {
  margin-right: -50px !important;
  height: 30px;
  width: 30px;
}

.publicacao__comentarios-opcoes i {
  padding-left: 7px;
  padding-top: 7px
}

.publicacao__comentarios-opcoes:hover {
  background-color: #f7f7f7;
  border-radius: 100%;
}

.publicacao__valores {
  color: rgb(143, 143, 143);
  margin-left: 2px;
  margin-right: 8px;
}


.publicacao__reagir {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(201, 201, 201);;
}

.publicacao__reagir a{
  color: rgb(119, 119, 119);
}

.publicacao__reagir a:hover {
  color: rgb(85, 85, 85);
}

.publicacao__amei {
  margin-right: 3px;
  font-size: 20px;
}

.comentarios {
  height: auto;
  margin: 0;
}

.comentarios__formulario {
  margin-left: 10px;
  height: 40px;
  max-height: auto !important;;
  padding-bottom: 0px !important;
  width: 90%;
  resize: none;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  display: inline-block;
}

.comentarios__formulario:hover {
  box-shadow: 0 0 1px #0EAFB5 !important;
  border: 1px solid #0EAFB5 !important;
}

.comentarios__avatar {
  display: inline-block;
  border-radius: 100%;
  width: 30px;
  margin-bottom: 6px;
}

.comentarios__avatar--comentario {
  border-radius: 100%;
  width: 25px;
  margin-bottom: 6px;
  float: left;
}

.comentarios__box {
  border-top-left-radius: 0px !important;
  font-size: 14px;
  padding-left: 12px !important;
  padding-right: 12px !important;
  color: #585858;
  margin-left: 30px;
  border-radius: 15px;
  max-width: 460px;
  width: fit-content;
  padding: 5px;
  background-color: rgb(241, 241, 241);
}

.comentarios__comentario {
  margin-top: 3px;
  display: inline-block;
  width: auto !important;
}


.comentarios__autor {
  display: block;
  font-weight: bold;
  width: min-content;
}

.comentarios__autor a {
  color: #585858;
}

.publicacaoOpcoes a{
  font-size: 20px;
  font-weight: bold;
  margin-top: -20px;
  margin-right: 20px;
  color: rgb(78, 78, 78) !important;
  float: right;
}

.comentarioOpcoes a{
  font-weight: bold;
  margin-top: -32px;
  margin-right: -40px;
  color: rgb(119, 119, 119) !important;
  float: right;
}

.publicacao__header ::ng-deep .p-menu {
  margin-left: -95px !important;
  width: 115px !important;
}
