<div class="rodape">
  <div class="rodape-superior">
    <div class="container">
      <div class="rodape-info p-grid">
        <div class="redes-sociais p-col-6">

        </div>
        <div class="outras-informacoes p-col-6">

        </div>
      </div>
    </div>
  </div>
  <div class="rodape-inferior">
    <div class="container">
      <div class="copyright">
        <p><strong>© COPYRIGHT 2021 </strong>- Todos os direitos reservados ao <strong>Minecity</strong>.</p>
      </div>
    </div>
  </div>
</div>
